<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">About</h3>
      <p class="text-muted">
        this project allow you to chat with Chatgpt
    </div>
  </div>
</div>