<div class="container">
  <div class="d-flex align-items-center" style="gap: 1rem">
    <div class="card" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <!-- add your name here -->
        <h5 class="card-title">Zijun Wang Page</h5>
        <!-- add simple introduction of youslef here -->
        <p class="card-text">chat with Chatgpt</p>
        <a href="/chatgpt" class="btn btn-primary">Detail</a>
      </div>
    </div>
  </div>
</div>