<div class="container">
  <nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index">Index</a></li>
      <li class="breadcrumb-item active" aria-current="page">Your Name Biography</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Your Name</h3>
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium repellat mollitia ut neque odio porro repellendus! Tenetur dolore illum odit modi. Necessitatibus ipsum repudiandae non, pariatur maxime accusantium qui.
      </p>
    </div>
  </div>
</div>